- var myInfo = {game}.game.player1.stats;
- var enemyInfo = {game}.game.player2.stats;
- var myCastlePercent = 'width:'+ myInfo.castelo.valor +'%;'; //TODO: entender como atualizar a tela (var sendo utilizada apenas 1x)
- var myWallPercent = 'width:'+ myInfo.muro.valor +'%;';
- var enemyCastlePercent = 'width:'+ enemyInfo.castelo.valor +'%;';
- var enemyWallPercent = 'width:'+ enemyInfo.muro.valor +'%;';
div(class='container-fluid')
  div(class='row')
    div(class='col-lg-16')
      
      div#my-info(class='col-lg-6')
        div(class='panel panel-default')
          div(class='panel-heading')
            h4(style='margin-top: 5px; margin-bottom: 5px;') #[span#lbl-player1 Jogador 1] #[button#btn-pass-player1(class='hidden' type='submit' class='btn btn-success btn-xs' style='float: right;') Passar a vez]
          div(class='panel-body')
            div(class='progress')
              div#my-castelo(class='progress-bar progress-bar-success progress-bar-striped' role='progressbar' aria-valuenow='50' 
                            aria-valuemin='0' aria-valuemax='100' style=myCastlePercent) !{myInfo.castelo.valor}
            div(class='progress')    
              div#my-muro(class='progress-bar progress-bar-warning progress-bar-striped' role='progressbar' aria-valuenow='0' 
                            aria-valuemin='0' aria-valuemax='100' style=myWallPercent) !{myInfo.muro.valor}
            div(class='col-lg-4')
              div(class='panel')
                ul(class='list-group')
                  li(class='list-group-item list-group-item-info') !{myInfo.magos.nome} #[span#my-magos(class='badge' ) !{myInfo.magos.valor}]
                  li(class='list-group-item list-group-item-info') !{myInfo.cristais.nome} #[span#my-cristais(class='badge') !{myInfo.cristais.valor}]
            div(class='col-lg-4')
              div(class='panel')
                ul(class='list-group')
                  li(class='list-group-item list-group-item-info') !{myInfo.soldados.nome} #[span#my-soldados(class='badge') !{myInfo.soldados.valor}]
                  li(class='list-group-item list-group-item-info') !{myInfo.armas.nome} #[span#my-armas(class='badge') !{myInfo.armas.valor}]
            div(class='col-lg-4')
              div(class='panel')
                ul(class='list-group')
                  li(class='list-group-item list-group-item-info') !{myInfo.construtores.nome} #[span#my-construtores(class='badge') !{myInfo.construtores.valor}]
                  li(class='list-group-item list-group-item-info') !{myInfo.tijolos.nome} #[span#my-tijolos(class='badge') !{myInfo.tijolos.valor}]

      div#enemy-info(class='col-lg-6')
        div(class='panel panel-default')
          div(class='panel-heading') 
            h4(style='margin-top: 5px; margin-bottom: 5px;') #[span#lbl-player2 Jogador 2] #[button#btn-pass-player2(class='hidden' type='submit' class='btn btn-success btn-xs' style='float: right;') Passar a vez]
          div(class='panel-body')
            div(class='progress')    
              div#enemy-castelo(class='progress-bar progress-bar-success progress-bar-striped' role='progressbar' aria-valuenow='50' 
                            aria-valuemin='0' aria-valuemax='100' style=enemyCastlePercent) !{enemyInfo.castelo.valor}
            div(class='progress')    
              div#enemy-muro(class='progress-bar progress-bar-warning progress-bar-striped' role='progressbar' aria-valuenow='0' 
                            aria-valuemin='0' aria-valuemax='100' style=enemyWallPercent) !{enemyInfo.muro.valor}
            div(class='col-lg-4')
              div(class='panel')
                ul(class='list-group')
                  li(class='list-group-item list-group-item-danger') !{enemyInfo.magos.nome} #[span#enemy-magos(class='badge' ) !{enemyInfo.magos.valor}]
                  li(class='list-group-item list-group-item-danger') !{enemyInfo.cristais.nome} #[span#enemy-cristais(class='badge') !{enemyInfo.cristais.valor}]
            div(class='col-lg-4')
              div(class='panel')
                ul(class='list-group')
                  li(class='list-group-item list-group-item-danger') !{enemyInfo.soldados.nome} #[span#enemy-soldados(class='badge') !{enemyInfo.soldados.valor}]
                  li(class='list-group-item list-group-item-danger') !{enemyInfo.armas.nome} #[span#enemy-armas(class='badge') !{enemyInfo.armas.valor}]
            div(class='col-lg-4')
              div(class='panel')
                ul(class='list-group')
                  li(class='list-group-item list-group-item-danger') !{enemyInfo.construtores.nome} #[span#enemy-construtores(class='badge') !{enemyInfo.construtores.valor}]
                  li(class='list-group-item list-group-item-danger') !{enemyInfo.tijolos.nome} #[span#enemy-tijolos(class='badge') !{enemyInfo.tijolos.valor}]